/* Overall container for the Pokémon app */
.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;

}

.pokemon-container > div {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}
.input {
  padding: 12px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 1rem;
  border: 2px solid #007bff;
  border-radius: 8px;
}



/* Dropdown for selecting Pokémon types */
.select {
  padding: 12px;
  width: 320px;
  font-size: 1rem;
  border: 2px solid #007bff;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.message {
  color: #661e16;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
}

.pokemon-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid with dynamic column count */
  gap: 20px; 
  padding: 10px ;
  justify-items: center; 
  width: 100%;
  margin-top: 20px;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 250px; 
}


.pokemon-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.pokemon-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}

.pokemon-card h2 {
  font-size: 1.5rem;
  color: #2d3436;
  margin-bottom: 10px;
}

.pokemon-card .id,
.pokemon-card .types {
  font-size: 1rem;
  color: #7f8c8d;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .input, .select {
    width: 80%;
  }
  .pokemon-card {
    max-width: 300px;
  }
}

